<%= form_for(@additional_attribute) do |f| %>
  <% if @additional_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@additional_attribute.errors.count, "error") %> prohibited this additional_attribute from being saved:</h2>

      <ul>
      <% @additional_attribute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :add %><br />    
    Attribute <%= radio_button_tag :attr_purpose, 'attribute', true %>
    Relationship <%= radio_button_tag :attr_purpose, 'relationship' %>
  </div>
  <div class="field">
    <%= f.label :attribute_for %><br />
    <%= f.select :attr_class, @models %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select :attr_type, @attr_type %>
  </div>
  <div id="attribute_value" class="field" style="display:none">
    <%= f.label :value %> (Enter values separated by #)<br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $('#additional_attribute_attr_type').on('change', function(){
    type = $('#additional_attribute_attr_type').val();
    multi_value_attr = "<%= AdditionalAttribute::MULTI_VALUED_ATTRIBUTE.join(',')%>" ;
    multi_value_attr = multi_value_attr.split(',');
    if (jQuery.inArray(type, multi_value_attr) != -1){
      $('#attribute_value').show();
    }else{
      $('#attribute_value').hide();
    }
  })  
</script>