<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Photo:</b>
  <%= image_tag @user.photo.url(:small) %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Work info:</b>
  <%= @user.work_info %>
</p>

<% @additional_attrs.each do |attr| %>
  <p>
    <b><%= attr.name%>:</b>
    <%= get_attr_value(attr, @user) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Add New Attribute', new_additional_attribute_path %>
